<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.employee.manager.mapper.AddMapper">

    <insert id="addEmployee">
        INSERT INTO EMPLOYEES (NAME,
                               LASTNAME,
                               DNI,
                               NICKNAME,
                               PASSWORD,
                               BINDING_DATE)
        VALUES (#{addRequest.name},
                #{addRequest.lastName},
                #{addRequest.dni},
                #{addRequest.nickname},
                #{addRequest.password},
                SYSDATE);
    </insert>

</mapper>