<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.employee.manager.mapper.AssignTypeMapper">

    <update id="assignType">
        UPDATE EMPLOYEES
        SET
        ID_TYPE_EMPLOYEE = #{assignTypeRequest.idType},
        LAST_UPDATE = SYSDATE
        WHERE ID = #{assignTypeRequest.idEmployee};
    </update>

</mapper>