<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.employee.manager.mapper.EmployeeAssignmentCampaignMapper">

    <select id="obtainEmployeeAssignmentCampaign" resultType="com.employee.manager.service.http.EmployeeAssignmentCampaignResponse">
		SELECT DISTINCT E.NAME, E.LASTNAME, E.DNI
		FROM EMPLOYEES E
		JOIN TEAM_EMPLOYEES TE ON TE.ID_EMPLOYEE = E.ID
		WHERE TE.ID_CAMPAIGN = #{request.idCampaign}
		AND E.ID_TYPE_EMPLOYEE = #{request.idType}
AND TE.FINAL_DATE IS NULL
	</select>

</mapper>