<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.employee.manager.mapper.EmployeeListWithoutAssignmentMapper">

    <select id="obtainEmployeeListWithoutAssignment" resultType="com.employee.manager.model.dto.EmployeeDTO">
		SELECT DISTINCT ID, NAME, LASTNAME
		FROM EMPLOYEES
		WHERE ID_TYPE_EMPLOYEE IS NULL
	</select>

</mapper>